* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #333;
    line-height: 25px;

}

h1 {
    color: #333;
}

h2 {
    color: #333;
    text-align: center;
}

.Huvud-Rubrik {
    text-align: center;
    margin: 2vh 0px 5vh;
}

.Huvud-Rubrik-H2 {
    font-size: 3vw;
    margin-bottom: 3vh;
}

.Huvud-Sida {
    height: max-content;
    padding: 100px 3vw 30px;
    background-color: #CFD8D7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Huvud-Sida-2 {
    padding: 8vh 3vw;
    background-color: #fff;
}

.Huvud-Sida-Text {
    font-size: 20px;
    margin: 3vh 0px;
    text-align: center;
}

.Huvud-Sida-H2 {
    text-align: center;
    font-size: 3vw;
}

.Huvud-Sida-Logga {
    width: max-content;
    text-align: center;
}

.Bild {
    width: 70%;
}

.Snygg-Knapp {
    padding: 2vh 2vw;
    border-radius: 10px;
    border: 0;
    margin-top: 7vh;
    font-size: 3vh;
    background-color: darkblue;
    color: white;
}

.Snygg-Knapp:hover {
    background-color: rgba(0, 0, 139, 0.68);
}

.Kom-Igång-Knapp:active {
    /* transparant border */
}

.Navigationsbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.Navigationsbar a {
    float: left;    
    color: #f2f2f2;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 30px;
}

.Navigationsbar a:hover {
    background-color: #ddd;
    color: black;
}

.Navigationsbar p {
    color: #f2f2f2;
}

.Navigationsbar a:active {
    background-color: #04AA6D;
    color: white;
}

.Navigationsbar-Div {
    margin-right: 50px;
    width: max-content;
    display: flex;
    justify-content: space-between;
}

.Navigationsbar-2 {
    display: none;
}

.video {
    width: 70vw;
    height: 35vw;
    margin: auto;
    margin-top: 10vh;
    background-color: lightgray;
    text-align: center;
}

.Video-Huvud-Rubriker {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.Paragraf {
    padding: 3vh;
}

.Logga {
    width: 50px;
    margin-right: 10px;
}

.Logga-Och-Text {
    display: flex;
    align-items: center;
}

.Logga-Och-Text :hover {
    background-color: #ddd;
    color: black;
}

.Kontaktbar {
    height: 200px;
    padding: 0px 10vw;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Köp-Knapp {
    padding: 1em;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 13px;
}

.Köp-Knapp:hover {
    background-color: #f2f2f2;
    color: #333;
}

.Köp-Knapp:active {
    background-color: #04AA6D;
    color: #f2f2f2;
}

.Huvud-Rubrik-Text {
    width: 35vw;
}

.Medier-Loggor {
    width: 65%;
}

.Medier-Knapp {
    background-color: #333;
    border-radius: 50px;
    border: 1px solid white;
    width: 5em;
    height: 5em;
    margin: 5px;
}

.Alla-Medier-Loggor {
    display: flex;   
}

.Medier-Knapp:hover {
    padding: 1vh;   
}

.Köpa-H1 {
    margin-top: 5vw;
    text-align: center;
    font-size: 3em;
}

.Investera-Simulator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0px 50px;
    padding: 0em 2em;
}

.Investera-Text {
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5vh;
    text-align: center;
}

.Analytiker {
    text-align: center;
    font-size: 2em;
    line-height: 1em;
}

.Analytiker-Div {
    width: 60vw;
    margin: auto;
    margin-top: 5vh;
}

.Investera-Knapp {
    width: max-content;
    height: max-content;
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 10px;
    border: 1px darkblue solid;
    background-color: darkblue;
    color: #f2f2f2;
}

.Investera-Knapp:hover {
    background-color: rgba(0, 0, 139, 0.68);
}

.Slide-1 {
    padding: 100px 0px 50px;
    background-color: #CFD8D7;
}
.Slide-2 {
    padding: 3vh 0px;
    background-color: #f2f2f2;
}

hr.Solid {
    border-top: 5px solid #333; 
    border-radius: 5px;
    width: 30vw;
    margin: auto;
    margin-bottom: 5vh;
}

.Såld-H2 {
    margin-bottom: 2vh;
    font-size: 3em;
}

.Formulär {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-right: 300px;
}

.Dropdown-Text {
    display: none;
}

.Kalkylera-Knapp {
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    font-size: 2em;
    background-color: darkblue;
    color: white;
    width: max-content;
    height: max-content;
    margin-bottom: 50px;
}

.Kalkylera-Knapp:hover {
    background-color: rgba(0, 0, 139, 0.68);
}

ul {
    list-style: none;
}

.Input {
    margin: 30px;
}

input {
    width: 300px;
    height: 30px;
    font-size: 20px;
}

li {
    font-size: 2em;
}

.Simulator-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.Simulator-Vänster-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Simulator-Vänster-Div h1 {
    padding-bottom: 20px;
}

.Simulator-Vänster-Div h1 {
    text-align: center;
}

.Vänster-Items {
    padding-top: 20px;
}

.Solidus {
    border-top: 5px solid #333; 
    border-radius: 5px;
    width: 300px;
}

.Vänster-Låda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Vänster-Låda-2 {
    display: none;
}

@media (max-width: 1080px) {
    .Navigationsbar {
        display: none;
    }

    .Navigationsbar-2 {
        background-color: #333;
        overflow: hidden;
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }

    .Navigationsbar-2 a {
        float: left;    
        color: #f2f2f2;
        padding: 15px 30px;
        text-decoration: none;
        font-size: 30px;
    }

    .Navigationsbar-2 a:hover {
        background-color: #ddd;
        color: black;
    }

    .Meny-Knapp {
        margin-right: 50px;
        height: fit-content;
        width: fit-content;
        font-size: 20px;
        align-self: center;
        padding: 10px;
        border-radius: 5px;
        background-color:rgb(233, 204, 167);
        border: 0px;
    }

    .Meny-Knapp:hover {
        background-color: rgb(241, 188, 118);
    }

    .Dropdown {
        display: flex;
    }

    .Simulator-Wrapper {
        flex-direction: column;
    }

    .Simulator-Vänster-Div {
        padding-top: 100px;
    }

    .Formulär {
        padding-top: 0;
        margin: 0;
    }

    .Vänster-Låda {
        display: none;
    }

    .Vänster-Låda-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 40em)
{
    .Analytiker-Div {
        width: 80vw;
    }

    .Kontaktbar {
        flex-direction: column;
    }

    .Video-Huvud-Rubriker {
        flex-direction: column;
    }

    .Paragraf {
        margin-bottom: 5vh;
    }

    .Huvud-Rubrik-Text {
        margin: auto;
        width: 70vw;
    }

    .Huvud-Rubrik-H2 {
        font-size: 3vh;
    }

    .Huvud-Sida-H2 {
        font-size: 5vw;
    }

    .Alla-Medier-Loggor {
        
    }
}

@media (max-width: 450px)
{
    input {
        width: 250px;
    }
}